* {
  margin: 0;
  box-sizing: border-box;
}

button {
  margin: 0.5rem;
}

input {
  width: 100vw;
}

#video-container {
  position: relative;
}

.faceRect {
  position: absolute;
  border: 2px solid pink;
  z-index: 1000;
  color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}